* {
    box-sizing: border-box;
}

body {
    text-align: center;
    background: #252525;
    font-family: "Poppins", sans-serif;
}


.container {
    color:white;
    font-family: Poppins;

    width: 400px;
    height: 100vh;
    margin: auto;
}

/***HEADINGS***/
h1 {
    font-size: 48px;

    padding: 15px; 
}

h2 {
    font-size: 30px;
}

/***BUTTON***/
.btn {
    color: #FFDF86;
    font-family: inherit;
    background-color: #9E4770;
    font-weight: bold;

    width: 100%;
    height: 100%;

    padding: 15px 35px;
    border-radius: 10px;
    border: none;

    &:hover {
        color: #9E4770;
        background-color: #FFDF86;

        transition-duration: 0.5s;
        cursor: pointer;
    }

    &:active {
        transform: scale(0.9);
    }

    &:disabled {
        cursor: not-allowed;
        color: #FFDF86;
        background-color: #9E4770;

        &:active {
            transform: none;
        }
    }
}

.no-btn-bg {
    background-color: transparent;
    border: none;
}

/***HR***/
hr {
    width: 80%;
    margin-bottom: 1rem;
}

/***MAIN***/
/**TRACKED PROGRESS**/
.tracker {
    display: flex;
    justify-content: space-around;
}

.bubble-lable {
    font-family: Poppins;
    font-size: 25px;

    margin-bottom: 5px;
}

.tracker-bubble {
    background-color: #44354A;

    width: 120px;
    height: 30px;

    border-radius: 50px;
    margin:auto;
}

/**TIMER**/
.timer {
 
    font-size: 20px;
    margin: 23px;
}

.select-icon {
    color: #fff;

    &:hover {
        color: #FFDF86;

        cursor: pointer;
    }

    &:disabled {
        color: white;

        cursor: not-allowed;
    }
}

/**BUTTONS**/
.inline-btns {
    display: flex;
    justify-content: space-between;

    width: inherit;

    margin: 0;

    .div-fifty {
        width: 50%;

        padding: 5px;
    }
}

/**CURRENT PROGRESS**/
.progress-label {
    font-family: Poppins;
    font-size: 20px;

    margin-top: 15px;
    margin-bottom: 5px;
}

.progress-display {
    background: #44354A;

    height: 40px;

    border-radius: 50px;
    margin: auto;
}

/**WATCHED SECTION**/
.watched {
    display: flex;
    justify-content: space-between;
}

.watched div {
    width: 49%;
    height: 100%;
}

.watched-label {
    font-size: 20px;

    margin: 10px;
}

.watched-display {
    font-size: 20px;

    background-color: #44354A;

    padding: 8px 0;
    border-radius: 50px;
    margin-top: 10px;
}

/***MODAL***/
/**SIGN UP**/
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: none; /*grid when displayed*/

    color: white;

    background-color: #252525;

    min-width: 80%;

    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 0 100px 10px #000;
}

.x-out {
    position: absolute;
    right: 1rem;
    top: 1rem;

    &:hover {
        opacity: 0.5;
        cursor: pointer;
    }
}

.modal-header {
    padding-top: 0;
    margin: 0 0 1rem;
    text-shadow: none;
}

.modal-form {
    display: grid;

    text-align: left;

    width: 80%;

    margin: 0 auto;
}

.modal-item {
    display: grid;
}

.modal-question {
    color: white;
    background-color: #44354A;
    line-height: 2;
    border-radius: 20px;
    margin-bottom: 1rem;
    border: 0;
}

select.modal-question {
    min-height: 2rem;
}

.submit-btn {
    width: 80%;
    height: 100%;

    margin: 0 auto;
}

/**NOTIFICATION**/
.task-completion-notification {
    display: none;
    position: fixed;
    bottom: 1rem;
    right: 1rem;

    color: #252525;
    font-weight: bold;

    background-color: #FFDF86;

    padding: 2rem;
    border-radius: 8px 8px 0 8px;
}


/***DESKTOP***/
@media screen and (min-width: 1250px) {
    body {
        background: #252525;
        background: conic-gradient(from 45deg, #252525, #2d1420);
        background-repeat: no-repeat;
        overflow: hidden;
    }

    /**HEADER**/
    header {
        text-align: left;
    }

    h1 {
        position: relative;

        font-size: 5rem;
        text-shadow: 0 0 10px #252525;

        margin: 0;
    }
    
    h1:before {
        content: "";
        position: absolute;
        left: 4rem;
        bottom: 2.25rem;

        background-color: #9E4770;

        height: 1rem;
        width: 50%;

        border-radius: 10px;

        z-index: -1;
    }

    /**BUTTONS**/
    .login-btns {
        position: absolute;
        top: 1rem;
        right: 1rem;
        width: 20%;
    }

    /**MAIN**/
    main {
        position: relative;
        display: flex;
        flex-wrap: wrap;

        margin: 0 1rem;
    }

    .container {
        width: 90%;

        margin: 0 5%;
    }

    /**HEADINGS**/
    h2 {
        position: relative;

        font-size: 3rem;
        text-align: left;

        width: 100%;

        margin: 0;
    }

    .progress-label,
    .watched-label {
        font-size: 25px;
    }

    .progress-label {
        text-align: left;

        margin-left: 0.5em;
    }

    /**WEEKLY PROGRESS**/
    .display {
        width: 50%;

        margin-bottom: 5rem;
    }

    .tracker-bubble {
        width: 200px;
        height: 40px;
    }

    /**ACTIONS BOX**/
    .actions {
        position: absolute;
        top: 0;
        right: 0;

        background-color: #44354A;

        padding: 2rem;
        border-radius: 20px;
    }

    /**PROGRESS TOTALS**/
    .total-progress {
        width: 100%;
    }

    .progress-item {
        width: 70%;
    }

    .watched {
        width: 50%;

        margin-top: 2rem;
        gap: 4rem;
    }
}
@media screen and (max-width: 600px) {
    body {
        background: #252525;
        background: conic-gradient(from 45deg, #252525, #2d1420);
        width: 100%;
    }
    .container{
        padding: 1rem;
      
      
    }
   
    /** header **/

    h1{
        font-size:2rem;
    }
    
    h2{
        font-size: 1.5rem
    }
     /** main **/
    

    .bubble-lable {
        font-size: 18px;
    }
  
    /**WATCHED SECTION**/
    .watched {
        display: flex;
        flex-direction: column;
        font-size: 20px; 
    }

    .watched div {
        width: 100%;

    }

}

.hidden {
     display: none;
}